@import 'basic/_import'

// reset
html, body
    font-family: '맑은 고딕','Malgun Gothic',dotum,sans-serif
    width: 100%
    height: 100%
    color: $black
    background: $white
    @include breakpoint(palm)
        text-align: center
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
    margin: 0
    padding: 0
table
    border-collapse: collapse
    border-spacing: 0
fieldset,img
    border: 0
address,caption,cite,code,dfn,em,strong,th,var
    font-style: normal
    font-weight: normal
li
    list-style: none
caption,th
    text-align: left
h1,h2,h3,h4,h5,h6
    font-size: 100%
    font-weight: normal
q:before,q:after
    content: ''
abbr,acronym
    border: 0
    font-variant: normal
sup
    vertical-align: text-top
sub
    vertical-align: text-bottom
input,textarea,select
    font-family: inherit
    font-size: inherit
    font-weight: inherit
input,textarea,select
    *font-size: 100%
legend
    color: $black

/* CSS Document
.hidden
    display: none

.bold
    font-weight: bold

.m-block
    @include breakpoint(palm)
        display: block

.navigation
    position: fixed
    z-index: 100
    top: calc(50% - 170px)
    right: 20px
    @include breakpoint(wide)
        right: 70px
    li
        color: $primary
        display: block
        padding: 0 10px
        line-height: 30px
        margin-bottom: 2px
        text-align: center
        .is-status
            display: inline-block
            width: 36px
            height: 36px
            background: url(./images/is_menu.png) no-repeat 0 0
            @include transition(all .2s ease)
            &:hover
                cursor: pointer
                background: url(./images/is_menu_over.png) no-repeat 0 0
        &.active
            .is-status
                cursor: pointer
                background: url(./images/is_menu_over.png) no-repeat 0 0

        &.operating-time
            position: relative
            .icon-clock
                display: inline-block
                width: 68px
                height: 68px
                background: url(./images/time_alarm.png) no-repeat 0 0
                &:hover
                    background-image: url(./images/time_alarm_over.png)
                    + .operating-time
                        display: block
                        @include opacity(1)
                        background: $primary
                + .operating-time
                    display: none
                    position: absolute
                    top: -30px
                    left: -280px
                    padding: 1.875rem
                    color: $quaternary
                    font-size: 1.5rem
                    font-weight: 300
                    line-height: 2.5rem
                    text-align: left
                    @include opacity(0)
                    @include transition(all .25s ease)

    @include breakpoint(palm)
        display: none

.wrapper
    margin: 0 auto
    @include breakpoint(labtop)
        width: 960px
    @include breakpoint(desk)
        width: 1050px
    @include breakpoint(wide)
        width: 1450px

.slideno
    position: absolute
    bottom: 0px
    left: 0px
    font-size: 100px
    font-weight: bold
    color: rgba(255, 255, 255, 0.3)

.scroll-action
    display: block
    width: 50px
    height: 104px
    position: absolute
    top: 60%
    left: calc(50% - 25px)
    background-image: url(./images/scroll.png)
    // @include breakpoint(palm)
    //     left: calc(50% - 12px)
    //     width: 25px
    //     height: 52px
    //     background-size: 25px 52px
    &:hover
        cursor: pointer
    -webkit-animation-name: main-arrow-ani
    -moz-animation-name: main-arrow-ani
    -o-animation-name: main-arrow-ani
    animation-name: main-arrow-ani
    -webkit-animation-iteration-count: infinite
    -moz-animation-iteration-count: infinite
    -ms-animation-iteration-count: infinite
    -o-animation-iteration-count: infinite
    animation-iteration-count: infinite
    -webkit-animation-duration: 2s
    -moz-animation-duration: 2s
    -ms-animation-duration: 2s
    -o-animation-duration: 2s
    animation-duration: 2s


@keyframes main-arrow-ani
    0%, 20%, 50%, 80%, 100%
        transform: translate( 0%, 0 )
    40%
        transform: translate( 0%, -20px )
    60%
        transform: translate( 0%, -10px )
    90%
        transform: translate( 0%, -5px )

.icon-scroll
	position: absolute
	top: 70%
	left: 50%
	margin-left: -8px
	width: 28px
	height: 90px
	z-index: 99999
	-webkit-transition: opacity .4s
    transition: opacity .4s

.icon-scroll span
	display: block
	width: 10px
	height: 10px
	border-right: 3px solid rgba(255,255,255,.8)
	border-bottom: 3px solid rgba(255,255,255,.8)
	margin: 0 0 2px 9px

	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-animation: mouse-scroll 1s infinite
    -moz-animation: mouse-scroll 1s infinite
    animation: mouse-scroll 1s infinite
    -webkit-animation-direction: alternate
	animation-direction: alternate

.icon-scroll .a1
	margin-top: 6px
	-webkit-animation-delay: .1s
	-moz-animation-delay: .1s
	animation-delay: .1s

.icon-scroll .a2
	-webkit-animation-delay: .2s
	-moz-animation-delay: .2s
	animation-delay: .2s

.icon-scroll .a3
	-webkit-animation-delay: .3s
	-moz-animation-delay: .3s
	animation-delay: .3s

.icon-scroll .mouse
	height: 44px
	width: 28px
	border: 3px solid rgba(255,255,255,.8)
	border-radius: 20px

.icon-scroll .wheel
  position: relative
  display: block
  height: 6px
  width: 2px
  margin: 4px auto 0
  background: rgba(255,255,255,.8)
  -webkit-animation: mouse-wheel 1.2s ease infinite
  -moz-animation: mouse-wheel 1.2s ease infinite
  animation: mouse-wheel 1.2s ease infinite
  border-radius: 50%
  cursor: pointer

@-webkit-keyframes mouse-wheel
	0%
		opacity: 1
		-webkit-transform: translateY(0)
		transform: translateY(0)

	100%
		opacity: 0
		-webkit-transform: translateY(5px)
		transform: translateY(5px)

@-moz-keyframes mouse-wheel
	0%
		opacity: 1
		-moz-transform: translateY(0)
		transform: translateY(0)

	100%
		opacity: 0
		-moz-transform: translateY(5px)
		transform: translateY(5px)

@keyframes mouse-wheel
	0%
		opacity: 1
		transform: translateY(0)

	100%
		opacity: 0
		transform: translateY(6px)

@-webkit-keyframes mouse-scroll
	0%
        opacity: 0
	50%
        opacity: .5
	100%
        opacity: 1

@-moz-keyframes mouse-scroll
	0%
        opacity: 0
	50%
        opacity: .5
	100%
        opacity: 1

@keyframes mouse-scroll
	0%
        opacity: 0
	50%
        opacity: .5
	100%
        opacity: 1

.slide
    background-attachment: fixed
    width: 100%
    height: auto
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3)
    &.header
        height: 100%
        background: url(./images/header_plant_1.png) no-repeat 0 0
        @include background-size(cover)
        .logo
            padding: 6.250rem 0  2.500rem
            @include breakpoint(palm)
                padding: 6.250rem 0  1rem
                img
                    width: 171px
                    height: 57px
        .block
            text-align: center
            color: $white
            .txt
                padding: 0 1em
                font-size: 1.500rem
                font-weight: 300
                @include breakpoint(labtop)
                    font-size: 2.500rem

    &.bowling
        background: url(./images/body_plant.png) no-repeat 0 0
        @include background-size(cover)
    &.facilities
        height: auto
        padding: 3em 0
        background-color: $black
        color: $white
        img
            width: 100%
        .row
            margin-bottom: 0
            >.col
                margin-bottom: 3rem
    &.pub
        background: url(./images/body_plant.png) no-repeat 0 0
        @include background-size(cover)
    &.bowling,&.pub,&.contact
        height: 344px
        .inner-wrap
            padding: 0 .750rem
            text-align: center
            p:first-child
                padding: 1.375em 0 .250em
                color: $quinary
                font-size: 4.250em
                font-weight: bold
            p:last-child
                color: #bdbdbd
                font-size: 1.200em
                font-weight: lighter
                @include breakpoint(labtop)
                    font-size: 1.5em
    &.useful
        padding: 3em 0
        background-color: $black
        color: $white
        .row > .col
            margin-bottom: 2rem
            &.non-margin
                margin-bottom: 0
        .slide-tit
            p
                &:first-child
                    font-size: 3rem
                &:last-child
                    color: $senary
                    font-weight: 300
                    @include breakpoint(labtop)
                        font-size: 1.500rem
        .menu-header.row
            margin-bottom: 0
            .col
                padding: 0
        .tabs
            height: 48px
            background: transparent
            @include breakpoint(labtop)
                height: 108px
                padding-top: 60px
            .tab
                text-transform: inherit
                a
                    padding: 0
                    color: $tertiary
                    font-weight: 300
                    &:hover, &.active
                        color: $white
                    @include breakpoint(labtop)
                        font-size: 1.500rem

                &:first-child a::after
                    content: '|'
                    float: right
                    color: $primary
            .indicator
                display: none
        img
            width: 100%
        .description
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            padding: .500em
            background: rgba(0, 0, 0, 0.6)
            color: $white
            text-align: left
            box-sizing: border-box
            @include breakpoint(labtop)
                padding: 1em

        h5.tit-img
            font-size: 1.375rem
            + p
                color: $senary
                font-size: 1.067rem
            &.inline
                display: inline-block
        i.user
            display: inline-block
            width: 22px
            height: 14px
            margin-left: .500rem
            background: url(./images/icon_user.png) no-repeat 0 0
            background-size: 22px 14px
            @include breakpoint(labtop)
                position: relative
                top: 2px
                width: 30px
                height: 20px
                background-size: 30px 20px

        .banjak
            padding-top: 2rem
            .text-contents
                color: $senary
                @include breakpoint(labtop)
                    font-size: 1.500rem
            .time
                padding-top: 1em
                @include breakpoint(labtop)
                    font-size: 1.500rem
                    padding-top: 2rem

        .carousel-wrapper
            position: relative
            button
                position: absolute
                top: calc(50% - 23px)
                z-index: 10
                display: inline-block
                width: 46px
                height: 46px
                border: none
                @include breakpoint(labtop)
                    top: calc(50% - 46px)
                    width: 92px
                    height: 92px
                &.prev
                    left: 1em
                    background: url(./images/arrow_l.png) no-repeat 0 0
                    background-size: 46px
                    @include breakpoint(labtop)
                        background-size: 92px
                &.next
                    right: 1em
                    background: url(./images/arrow_r.png) no-repeat 0 0
                    background-size: 46px
                    @include breakpoint(labtop)
                        background-size: 92px

    &.contact
        background: url(./images/body_plant_08.png) no-repeat 0 0
        @include background-size(cover)
    &.map
        padding: 3rem 0
        background-color: $black
        color: $white
        @include breakpoint(labtop)
            font-size: 1.500rem
        .location
            @include breakpoint(wide)
                .col:first-child
                    float: left
                    width: 60%
                .col:last-child
                    float: right
                    width: 40%
        .map-content
            margin: 0 auto
            height: 249px
            background: url(./images/body_map_m.png) no-repeat center 0
            background-size: 291px 249px
            @include breakpoint(labtop)
                min-height: 616px
                background-image: url(./images/body_map.png)
                background-size: 100%
        .tit
            margin-bottom: 20px
            color: #777
            font-size: 1.333rem
        .row > .col
            @include breakpoint(palm)
                margin-bottom: 20px
            > .col
                margin-bottom: 0
        .tel,.email,.facebook
            @include breakpoint(palm)
                display: block
        .facebook i
            display: inline-block
            width: 26px
            height: 26px
            background: $white
            color: $primary
            text-align: center
            font-weight: bold
            font-style: normal
            line-height: 1.8rem
            @include border-radius(26px)
            @include breakpoint(palm)
                margin-top: 10px

.flow-tit
    font-size: 3rem
    color: $white
.flow-text-tit
    display: inline-block
    padding: .625rem 0 .313rem
    font-size: 1.750rem
    color:  $senary
.flow-text-sub
    color:  $senary

// Swiper
.swiper-container
    width: 100%
    height: 100%
    .swiper-slide
        position: relative
        text-align: center
        font-size: 18px
        background: #fff
        /* Center slide text vertically */
        display: -webkit-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        -webkit-justify-content: center
        justify-content: center
        -webkit-box-align: center
        -ms-flex-align: center
        -webkit-align-items: center
        align-items: center
        img
            width: 100%
    .swiper-button-next,.swiper-button-prev
        width: 46px
        height: 46px
        @include breakpoint(labtop)
            top: calc(50% - 46px)
            width: 92px
            height: 92px
        &.swiper-button-prev
            background: url(./images/arrow_l.png) no-repeat 0 0
            background-size: 46px
            @include breakpoint(labtop)
                background-size: 92px
        &.swiper-button-next
            background: url(./images/arrow_r.png) no-repeat 0 0
            background-size: 46px
            @include breakpoint(labtop)
                background-size: 92px
.gorilla-position
    position: relative
    @include breakpoint(palm)
        margin-top: 80px
    .gorilla-sleep
        position: absolute
        left: 0
        top: -80px
