// Box-shadow - supported browsers that have box shadow capabilities now support it.
@mixin box-shadow($shadow...)
  -webkit-box-shadow: $shadow // iOS <4.3 & Android <4.1
          box-shadow: $shadow

// Box Sizing
@mixin box-sizing($box-model)
  -webkit-box-sizing: $box-model // Safari <= 5
  -moz-box-sizing: $box-model // Firefox <= 19
  box-sizing: $box-model


// User select - For selecting text on the page
@mixin user-select($select)
  -webkit-user-select: $select
     -moz-user-select: $select
      -ms-user-select: $select // IE10+
          user-select: $select

// Transitions
@mixin transition($transition...)
  -webkit-transition: $transition
  -o-transition: $transition
  transition: $transition
@mixin transition-property($transition-property...)
  -webkit-transition-property: $transition-property
  transition-property: $transition-property
@mixin transition-delay($transition-delay)
  -webkit-transition-delay: $transition-delay
  transition-delay: $transition-delay
@mixin transition-duration($transition-duration...)
  -webkit-transition-duration: $transition-duration
  -moz-transition-duration: $transition-duration
  -o-transition-duration: $transition-duration
  transition-duration: $transition-duration
@mixin transition-timing-function($timing-function)
  -webkit-transition-timing-function: $timing-function
  transition-timing-function: $timing-function
@mixin transition-transform($transition...)
  -webkit-transition: -webkit-transform $transition
  -moz-transition: -moz-transform $transition
  -o-transition: -o-transform $transition
  transition: transform $transition

// Transform
@mixin rotate($rotate...)
  -webkit-transform: rotate($rotate...)
  -moz-transform: rotate($rotate...)
  -ms-transform: rotate($rotate...)
  -o-transform: rotate($rotate...)
  transform: rotate($rotate...)

// Gradients
@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg)
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)
  background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)

// Select arrow hide
@mixin appearance($value)
  appearance:none
  -webkit-appearance:none
  -moz-appearance:none
  -ms-appearance:none
  &::-ms-expand
    display:none

// Background
@mixin background-size($size...)
  -webkit-background-size: $size
  -moz-background-size: $size
  -o-background-size: $size
  background-size: $size
